
    <body>
        <header>
            <h1>{{title}}</h1>
        </header>
        <main>
            <p>This website helps in finding venues. it also provides detailed information about venues.</p>
            <form method="POST" action="/searchvenues">
            <label for="searchVenueTerm">Search Venues:</label>
            <input type="text" id="searchVenueTerm" name="searchVenueTerm">
            <button type="submit">Search</button>
        </form>
        </main>
    </body>